<div class="join-container">
  <header>
    <h1>Join in with our Community</h1>
    <hr>
  </header>

  <div class="wrapper">
      <div class="membership-option">
          <h2 class="header">Free for CHOICE members</h2>
          <div class="section option-body">
              <div class="side">
                  <div class="icon">
                      <div class="icon_member"></div>
                  </div>
              </div>
              <div class="main">
                  <ul class="feature-list">
                      <li>Choice.community Access</li>
                      <li>All the benefits of CHOICE membership</li>
                      <li>CHOICE Members Only area</li>
                  </ul>
              </div>
          </div>
          <div class="section option-footer">
              <div class="side"></div>
              <div class="main">
                  <em class="caption">
                      Already a member?
                  </em>
                  <a style="margin-top: 2px" class="btn btn-primary btn-join"
                     href="http://choice.us13.list-manage.com/subscribe?u=a35cf1090e00a5c33535f29df&id=814d7df0c2">
                      Connect account
                  </a>
              </div>
          </div>
      </div>
      <div class="membership-option">
          <h2 class="header">Consumer Defender</h2>
          <div class="section option-body">
              <div class="side">
                  <div class="icon_defender"></div>
              </div>
              <div class="main">
                  <ul class="feature-list">
                      <li>Choice.community access</li>
                      <li>Defender Badge</li>
                      <li>Priority Expert Advice</li>
                  </ul>
              </div>
          </div>
          <div class="section option-footer" >
              <div class="side">
                 <span> Pay what you like</span>
              </div>
              <div class="main">
                  <a class="btn btn-primary btn-join" href="/donate">
                      Subscribe
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
