<h1>SIGN UP NOW FOR INSTANT ACCESS</h1>
and to support CHOICE, Australia's leading consumer advocacy group.

<hr>

<h3><a href="http://choice.us13.list-manage.com/subscribe?u=a35cf1090e00a5c33535f29df&id=814d7df0c2">[FREE]</a> for current CHOICE members ($23.95/quarter)</h3>

<ul>
  <li>Choice.community Access</li>
  <li>All the benefits of CHOICE membership</li>
  <li>CHOICE Members Only area</li>
</ul>

<hr>

<h3><a href="/donate?plan=consumer-defender-with-membership">[$25/quarter]</a> Consumer Defender + CHOICE Membership</h3>

<ul>
  <li>Choice.community Access</li>
  <li>Defender Badge (while supplies last)</li>
  <li>Priority Expert Advice</li>
  <li>All the benefits of CHOICE membership</li>
  <li>CHOICE Members Only area</li>
</ul>

<hr>

<h3><a href="/donate">[Pay what you want/quarter]</a> Consumer Defender only</h3>

<ul>
  <li>Choice.community Access</li>
  <li>Defender Badge (while supplies last)</li>
  <li>Priority Expert Advice</li>
</ul>
