<div class="choice">

  <h1>SIGN UP NOW FOR INSTANT ACCESS</h1>
  and to support CHOICE, Australia's leading consumer advocacy group.

  <hr>

  <h2>Free for current CHOICE members</h2>

  <ul>
    <li><div class="fa fa-check"></div>Choice.community Access</li>
    <li><div class="fa fa-check"></div>All the benefits of CHOICE membership</li>
    <li><div class="fa fa-check"></div>CHOICE Members Only area</li>
  </ul>

  <span class="low" style="padding-left: 40px;">
    Already a member?<br>
  </span>

  <a class="btn btn-primary" href="http://choice.us13.list-manage.com/subscribe?u=a35cf1090e00a5c33535f29df&id=814d7df0c2">
    Connect CHOICE account
  </a>

  <hr>

  <h2>Consumer Defender + CHOICE Membership</h2>

  <ul>
    <li><div class="fa fa-check"></div>Choice.community Access</li>
    <li><div class="fa fa-check"></div>Defender Badge (while supplies last)</li>
    <li><div class="fa fa-check"></div>Priority Expert Advice</li>
    <li><div class="fa fa-check"></div>All the benefits of CHOICE membership</li>
    <li><div class="fa fa-check"></div>CHOICE Members Only area</li>
  </ul>

  <a class="btn btn-primary" href="/donate?plan=consumer-defender-with-membership">
    Subscribe
  </a>


  <hr>

  <h2>Consumer Defender</h2>

  <ul>
    <li><div class="fa fa-check"></div>Choice.community Access</li>
    <li><div class="fa fa-check"></div>Defender Badge (while supplies last)</li>
    <li><div class="fa fa-check"></div>Priority Expert Advice</li>
  </ul>

  <a class="btn btn-primary" href="/donate">
    Subscribe
  </a>

</div>
