<div class="choice join-container">
  <header>
    <h1>Join in with our Community</h1>
    <hr>
  </header>

  <div class="background wrapper">
    <div class="row membership-option">
      <h2 class="option-header">Free for CHOICE members</h2>
      <div class="topic-avatar">
        <div class="content">
          <div class="icon">
            <div class="icon_member"></div>
          </div>
        </div>
      </div>
      <div class="topic-body">
        <ul class="fa-ul">
          <li><div class="fa-li fa fa-check"></div>CHOICE.Community access</li>
          <li><div class="fa-li fa fa-check"></div>All the benefits of CHOICE membership</li>
          <li><div class="fa-li fa fa-check"></div>CHOICE members only area</li>
        </ul>

        <em class="low" style="padding-left: 15px;">
          Already a member?<br>
        </em>

        <a style="margin-top: 2px" class="btn btn-primary btn-join" href="http://choice.us13.list-manage.com/subscribe?u=a35cf1090e00a5c33535f29df&id=814d7df0c2">
          Connect account
        </a>
      </div>
    </div>
<!--
    <div class="row">
      <div class="clearfix">
        <h2>Consumer Defender +<br>CHOICE membership</h2>
        <div class="topic-avatar">
          <div class="content">
            <div class="icons">
              <div class="icon_defender"></div>
              <div class="fa fa-plus"></div>
              <div class="icon_member"></div>
            </div>
          </div>
        </div>
        <div class="topic-body">
          <ul class="fa-ul">
            <li><div class="fa-li fa fa-check"></div>CHOICE.Community access</li>
            <li><div class="fa-li fa fa-check"></div><strong>Consumer Defender lapel pin</strong></li>
            <li><div class="fa-li fa fa-check"></div><strong>Priority expert advice</strong></li>
            <li><div class="fa-li fa fa-check"></div>All the benefits of CHOICE membership</li>
            <li><div class="fa-li fa fa-check"></div>CHOICE members only area</li>
          </ul>
        </div>
      </div>
      <div class="topic-avatar">
        $<span class="larger">25</span> per<br>quarter
      </div>
      <div class="topic-body">
        <a class="btn btn-primary btn-join" href="/donate?plan=consumer-defender-with-membership">
          Subscribe
        </a>
      </div>
    </div>
  -->
    <div class="row">
      <div class="clearfix">
        <h2>Consumer Defender</h2>
        <div class="topic-avatar">
          <div class="content">
            <div class="icon">
              <div class="icon_defender"></div>
            </div>
          </div>
        </div>
        <div class="topic-body">
          <ul class="fa-ul">
            <li><div class="fa-li fa fa-check"></div>CHOICE.Community access</li>
            <li><div class="fa-li fa fa-check"></div>Consumer Defender lapel pin</li>
            <li><div class="fa-li fa fa-check"></div>Priority expert advice</li>
          </ul>
        </div>
      </div>
      <div class="topic-avatar">
        Pay what<br>you like
          test data
      </div>
      <div class="topic-body">
        <a class="btn btn-primary btn-join" href="/donate">
          Subscribe
        </a>
      </div>
    </div>
  </div>
</div>
