
@import url('https://fonts.googleapis.com/css?family=Lato');

// Colour Palette
$green: #44920e;
$blue_dark: #005c94;
$blue_light: #2e90e9;
$orange: #ffb100;
$grey_3: #333;
$grey_7: #767676;
$grey_e: #eee;

// Settings
$width_avatar_col: 120px;

// Common CSS
.choice {
  font-family: Lato;

  h1 {
    font-family: Lusitana;
  }

  .topic-avatar, .topic-body {
    border: 0;
  }

  .topic-avatar {
    width: $width_avatar_col;
  }

  .topic-body {
    width: calc(100% - $width_avatar_col);
    display: table-cell;
  }

  .icon_member {
    background-image: url('https://choice.community/uploads/default/original/2X/f/f99a4e14687ad8f0fa40903a55e58d256a08edb5.png');
    background-size: 100%;
  }
  .icon_defender {
    background-image: url('https://choice.community/uploads/default/optimized/2X/2/20c52d6547caac157076ef7735863d0008576cae_1_428x500.png');
    background-size: 100%;
  }

  .fa-check {
    color: $green;
  }

  .fa-plus {
    color: $blue_dark;
    font-size: 150%;
  }
}
