
// Colour Palette
$green: #44920e;
$blue: #005c94;
$grey_3: #333;
$grey_7: #767676;
$grey_e: #eee;

// Settings
$background_color: $grey_e;
$border_radius: 5px;
$border_size: 3px;
$margin_left: 12px;
$width_avatar_col: 80px;
$icon_url: url('https://choice.community/uploads/default/optimized/2X/4/4c3056a16dcbee5ed6dba59f624c191a0dca3626_1_690x277.png');
$icon_width: 60px;
$icon_height: 70px;
$icon_size: 220px;

// Implement Styles
.choice {
  padding: $border_size;
  background-color: $background_color;

  > header {
    h1 {
      font-family: Lusitana;
      font-size: 19px;
      margin: 0 auto;
      display: table;
      padding: 0 20px;
      position: relative;
      top: 16px;
      background-color: $background_color;
      color: $grey_3;
      z-index: 99;
    }
    hr {
      border: 0;
      background-color: $grey_3;
      position: relative;
      top: -9px;
    }
  }

  .background {
    background-color: white;
    .topic-avatar, .topic-body {
      border: 0;
    }
    > .row {
      border-bottom: $border_size $background_color solid;
      .icon {
        background-size: $icon_size;
//        background-image: $icon_url;
        width: $icon_width;
        height: $icon_height;
      }
      .topic-avatar {
        width: $width_avatar_col;
        text-align: center;
      }
    }
  }


  .fa-check {
    color: $green;
  }

  .low {
    color: $grey_7;
  }
  .larger {
    font-size: 200%;
  }

  h2 {
      font-weight: normal;
      font-family: Lato;
      line-height: 1.43;
      letter-spacing: 0.3px;
      color: #005c94;
      margin-left: $margin_left;
    }

  .btn {
    width: 180px;
    -webkit-border-radius: $border_radius;
    -moz-border-radius: $border_radius;
    border-radius: $border_radius;
  }

  .btn-join {
    margin-left: 23px;
  }

  hr {
    border: 0;
    border-top: 3px !important;
    background-color: red;
  }

  ul {
    list-style-type: none;
    li {
      margin-bottom: 12px;
      .fa-check {
        margin-right: 5px;
      }
    }
  }
}
