
// Colour Palette
$green: #44920e;
$blue: #005c94;
$grey_3: #333;
$grey_7: #767676;
$grey_e: #eee;

// Settings
$border_radius: 5px;

// Implement Styles
.choice {
  padding: 3px;
  background-color: $grey_e;

  .topic-avatar {
    border: 0;
  }

  .background {
    background-color: white;
    > .row {
      margin: 10px;
      > .topic-avatar {
        text-align: center;
      }
    }
  }

  > header {
    h1 {
      font-family: Lusitana;
      font-size: 19px;
      margin: 0 auto;
      display: table;
      padding: 0 20px;
      position: relative;
      top: 16px;
      background-color: $grey_e;
      color: $grey_3;
      z-index: 99;
    }
    hr {
      border: 0;
      background-color: $grey_3;
      position: relative;
      top: -9px;
    }
  }

  .fa-check {
    color: $green;
  }

  .low {
    color: $grey_7;
  }
  .larger {
    font-size: 200%;
  }

  h2 {
      font-weight: normal;
      font-family: Lato;
      line-height: 1.43;
      letter-spacing: 0.3px;
      color: #005c94;
      margin-left: 10px;
    }

  .btn {
    width: 180px;
    -webkit-border-radius: $border_radius;
    -moz-border-radius: $border_radius;
    border-radius: $border_radius;
  }

  .btn-join {
    margin: 0 0 0 24px;
  }

  ul {
    list-style-type: none;
    li {
      .fa-check {
        margin-right: 5px;
      }
    }
  }
}
